{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>
        {% if error %}
                <div class="alert alert-danger">Email ou mot de passe incorrect</div>
        {% endif %}
            <div class="form-floating">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Email">
                <label for="inputEmail">Adresse Email</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
                <label for="inputPassword">Mot de passe</label>
            </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Connexion</button>
        <p><a class="decor" href="../index.html">Mot de passe oublié</a></p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
</main>
{% endblock %}
