@font-face {
  font-family: MarianneBold;
  src: url("../fonts/Marianne-Bold.702e12a6.woff2");
}

@font-face {
  font-family: MarianneNormal;
  src: url("../fonts/Marianne-Regular.4349f045.woff2");
}

@font-face {
  font-family: MarianneMedium;
  src: url("../fonts/Marianne-Medium.3d17f2f9.woff2");
}

/* stylelint-disable stylistic/selector-list-comma-newline-after */

.blog-header-logo {
  font-family: 'MarianneBold';
  font-size: 2.25rem;
}

.grey-fond {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
  text-align: justify;
  padding: 5%;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MarianneBold';
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {min-width: 320px; /* Taille minimale pour les petits écrans */
  margin: auto; /* Centrer l'article */
  padding: 15px; /* Espacement interne */
  background-color: #fff; /* Couleur de fond */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
}

@media (min-width: 576px) {
  .blog-post {
    min-width: 576px; /* Taille minimale pour les écrans de taille moyenne et supérieure */
  }
}

@media (min-width: 768px) {
  .blog-post {
    min-width: 768px; /* Taille minimale pour les grands écrans */
  }
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/* grid pour l'alignement de l'affichage des articles */
.grid-alignement {
  display: grid;
}

@media (max-width: 768px) {
  h1{
    text-align:left;
  }
  
  h2, h3, h4, h5, h6, p {
    text-align:justify;
  }
}