form {
    display: flex;
    flex-direction: column; /* Pour que les éléments soient empilés verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
}

/* Centrer les labels */
form label {
    display: block;
    text-align: center;
}

/* Appliquer un style commun aux champs de formulaire (input et select) */
form input, form select, form textarea {
    width: 100%; /* Largeur maximale pour occuper toute la largeur du conteneur */
    margin-bottom: 2%;
    box-sizing: border-box; /* Inclure les bordures et le rembourrage dans la largeur totale */
}

/* Centrer le bouton */
form button {
    margin-top: 5%;
}


body h1 {
    text-align: center;
}
