{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}
    <h1>Non autorisé</h1>

    <p>
        Vous n'êtes pas autorisé à aller sur cette page !
    </p>
{% endblock %}