{% extends 'base.html.twig' %}

{% block title %}Article - Création{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="bg-fond">
        <h1 class="h1">Publiez un article</h1>
        {{ form(form) }}
    </div>
{% endblock %} 
