{% extends 'base.html.twig' %}

{% block title %}Article - Consultation{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="../../public/css/blog.css" />
{% endblock %} 

{% block body %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <article class="blog-post">
          <!-- Titre de la ressource -->
          <div class="d-flex justify-content-between">
            <h2 class="display-5 link-body-emphasis mb-1">{{ article.titre }}</h2>
            <button class="btn btn-primary" style="max-height: 40px;" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 1 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
          <div class="collapse pb-4 pt-2" id="collapseExample">
            <!-- Options supplémentaires -->
            <!-- ... -->
          </div>
          <!-- Métadonnées -->
          <!-- ... -->
          
          <!-- Contenu principal -->
          <p>
            {{ article.corps }}
          </p>

          <a class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
              viewBox="0 0 16 16">
              <!-- ... -->
            </svg>
            Télécharger la ressource
          </a>
        </article>
        <!-- ... -->
      </div>
    </div>
  </div>
{% endblock %}
