{% extends 'base.html.twig' %}

{% block title %}Compte - Modification{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <h1>Modification de votre profil</h1>
    {{ include('user/forms/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
