{% extends 'base.html.twig' %}

{% block title %}Compte - Création{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 fw-normal">Veuillez vous Inscrire</h1>
    {{ include('user/_form.html.twig') }}
{% endblock %}
